.navbar {
    background-color: #E3E6F3;
}

.navbar-brand {
    margin-left: 25px;
}

li {
    font-size: 20px;
}

.nav-item-1 {
    margin-right: 20px;
    margin-left: 20px;
}

ul {
    margin-right: 20px;
}



