.navbar {
    background-color: #E3E6F3;
}

.navbar-brand {
    margin-left: 25px;
}

li {
    font-size: 20px;
}

.nav-item-1 {
    margin-right: 20px;
    margin-left: 20px;
}

ul {
    margin-right: 20px;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 105px;
    gap: 0;
    flex-direction: column;
    background-color: #E3E6F3;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    list-style-type: none;
}

.nav-items {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}



