.content-wrapper {
    margin-top: 150px;
    margin-bottom: 50px;
}

.styled-btn {
    position: absolute;
    top: 200px;
    right: 100px;
    left: 0;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}


@media screen and  (max-width: 725px) {
    .content-wrapper {
        margin-top: 250px;
    }

    .styled-btn {
        top: 300px;
    }
}

@media screen and (max-width: 300px) {
    .styled-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .styled-container {
        margin-top: 150px;
    }
}