.button {
    border: none;
    background-color: #001970;
    opacity: 58%;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 200px;
    font-family: Spartan, serif;
    transition: transform 0.7s ease-in-out, opacity 0.4s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    opacity: 80%;
}

.main-container p {
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    color: black;
    opacity: 85%;
    font-family: Spartan, serif;
}

@media screen and (max-width: 615px) {
    .main-container p {
        font-size: 35px;
    }

    .button {
        padding: 10px 100px;
    }
}